
### CompressedArchive ###
*.7z
*.s7z
*.ace
*.afa
*.alz
*.apk
*.arc
*.arj
*.b1
*.ba
*.bh
*.cab
*.car
*.cfs
*.cpt
*.dar
*.dd
*.dgc
*.dmg
*.ear
*.egg
*.gca
*.ha
*.hki
*.ice
*.jar
*.kgb
*.lzh
*.lha
*.lzx
*.pak
*.partimg
*.paq*
*.pea
*.pim
*.pit
*.qda
*.rar
*.rk
*.sda
*.sea
*.sen
*.sfx
*.shk
*.sit
*.sitx
*.sqx
*.tar.gz
*.tgz
*.tar.Z
*.tar.bz2
*.tbz2
*.tar.lzma
*.tlz
*.uc
*.uc0
*.uc2
*.ucn
*.ur2
*.ue2
*.uca
*.uha
*.war
*.wim
*.xar
*.xp3
*.yz1
*.zip
*.zipx
*.zoo
*.zpaq
*.zz


### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
typings/
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history

.yarn-integrity
.env
.env.test
.cache
.next
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.msi
*.msix
*.msm
*.msp
*.lnk

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc
.runtimeconfig.json
.firebase/

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
node_modules
bower_components
*.sublime*
psd
thumb
sketch

# Local Netlify folder
# .netlify

### MicrosoftOffice ###
*.tmp
~$*.doc*
Backup of *.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsd*

package-lock.json
yarn.lock
*.lock
# *.mp4

# public/librerias/js/fecha.js
Curso/sco/js/fecha.js